@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Pacaembu';
    src: url('Pacaembu-TrialNaipeFoundry/ttf/Pacaembu-Regular-Trial.ttf');
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(html) {
    --radius-xs: 2px;
    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 12px;
    --radius-xl: 16px;
    --radius-2xl: 30px;
    --radius-circle: 50%;
    --radius-pill: 360px;
    --shadow-light: 0px 2px 4px 0px rgba(51, 55, 59, .08), 0px 1px 10px 0px rgba(51, 55, 59, .06);
    --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, .1);
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, .25);
    --shadow-deep: 0px 16px 24px rgba(0, 0, 0, .07), 0px 6px 30px rgba(0, 0, 0, .06), 0px 8px 10px rgba(0, 0, 0, .1);
    --shadow-diagram: 0px 2px 8px 0px rgba(32, 54, 161, .2);
    --shadow-text: 0px 0px 24px #1b205b;
    --shadow-outline: 0px 0px 60px 0px #80abfa66;
    --space-0: 0rem;
    --space-3xs: clamp(.25rem, calc(.25rem + 0vw), .25rem);
    --space-2xs: clamp(.5rem, calc(.5rem + 0vw), .5rem);
    --space-xs: clamp(.75rem, calc(.75rem + 0vw), .75rem);
    --space-s: clamp(1rem, calc(1rem + 0vw), 1rem);
    --space-m: clamp(1.5rem, calc(1.5rem + 0vw), 1.5rem);
    --space-l: clamp(2rem, calc(2rem + 0vw), 2rem);
    --space-xl: clamp(3rem, calc(3rem + 0vw), 3rem);
    --space-2xl: clamp(4rem, calc(4rem + 0vw), 4rem);
    --space-3xl: clamp(6rem, calc(6rem + 0vw), 6rem);
    --space-4xl: clamp(10rem, calc(10rem + 0vw), 10rem);
    --space-2xl-3xs: clamp(.25rem, 5.875rem + -7.5vw, 4rem);
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, Arial, sans-serif;
    --font-primary: 'Mulish', var(--font-system);
    --font-secondary: 'Pacaembu', var(--font-system);
    --font-heading: var(--font-secondary);
    --font-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    --font-weight-light: 300;
    --font-weight-semilight: 350;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 680;
    --font-weight-bold: 800;
    --text-underline-offset: .125em;
    --line-height: 1.5;
    --line-height-heading: 1.2;
    --line-height-none: 1;
    --tracking-tight: -.02em;
    --step--2: .8125rem;
    --step--1: .875rem;
    --step-0: 1rem;
    --step-05: clamp(1rem, .9375rem + .25vw, 1.125rem);
    --step-1: clamp(1.13rem, calc(1.03rem + .39vw), 1.32rem);
    --step-2: clamp(1.27rem, calc(1.03rem + .95vw), 1.74rem);
    --step-3: clamp(1.42rem, calc(.99rem + 1.75vw), 2.3rem);
    --step-4: clamp(1.6rem, calc(.88rem + 2.87vw), 3.04rem);
    --step-5: clamp(1.8rem, calc(.7rem + 4.41vw), 4.01rem);
    --page-padding: clamp(var(--space-s), 5vw, var(--space-l));
    --page-max-inline-size: 1200px;
    --border-redius-1: 6px;
    --border-redius-2: 5px;
    --border-redius-3: 10px;
    --blue-700: #2842C2;
    --blue-800: #2036a1;
    --blue-900: #1b205b;
    /* --step-2: clamp(1.27rem, calc(1.03rem + .95vw) , 1.74rem); */
}

:root {
    --card-title-size-tiny: 1.125rem;
    --card-title-size-small: 1.5rem;
    --card-title-size-medium: 1.75rem;
    --card-title-size-large: 3rem;
    --primary-text-color: #181A1c;
    --padding-inline-section: 20px;
}

body {
    font-family: var(--font-primary);
    font-size: var(--step-0);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
    color: var(--primary-text-color);
}

p {
    font-family: var(--font-primary);
    font-size: var(--step-0);
    font-weight: 350;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

h1 {
    font-size: var(--step-5);
    font-weight: var(--font-weight-bold);

}

h2 {
    font-size: var(--step-4);
}

/* utility classes */
.container {
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline: var(--padding-inline-section);
}

.primary-button {
    width: 200px;
    color: #014847;
    background-color: #32e6e2;
    padding: 7px 12px;
    font-size: var(--step-0);
    font-family: var(--font-secondary);
    border-radius: var(--border-redius-1);
    font-weight: var(--font-weight-semibold);
}

.secondry-button {
    width: 200px;
    color: #ffffff;
    padding: 7px 12px;
    font-size: var(--step-0);
    font-family: var(--font-secondary);
    border-radius: var(--border-redius-1);
    border: 0.5px solid #fff;
    font-weight: var(--font-weight-semibold);
}

.high-primary-button {
    background-color: #2e51ed;
    border-color: #2e51ed;
    color: #f6f6f7;
    font-family: var(--font-secondary);
    padding: var(--space-2xs) var(--space-2xs);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-redius-2);
}

.flex {
    display: flex;
    align-items: center;
}

/* nav-bar */
.main-nav {
    padding-block: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: hsla(0, 100%, 100%, 0.9);
    width: 100%;
    backdrop-filter: blur(5px) saturate(200%);
}

.ul-flex {
    font-weight: var(--font-weight-semibold);
}

.hover-link {
    padding: var(--space-2xs) var(--space-2xs);
    border: 2px solid transparent;
    font-weight: var(--font-weight-semibold);
}

.hover-link i {
    font-weight: 900;
}

.hover-link:hover {
    border: 2px solid #21308A;
    border-radius: var(--border-redius-2);
}

.serch-field input {
    border: none;
    background: transparent;
}

/* header section */
.section-background {
    background: linear-gradient(var(--blue-900), var(--blue-700));
}

.headre-section {
    background-image: url('assets/header.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.main-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.first-heading {
    padding: 5.5rem 0 1rem;
    max-width: 16ch;
    color: #fff;
    font-family: var(--font-secondary);
    line-height: 1.2em;
}

.para-text {
    max-width: 60ch;
    color: #fff;
    font-weight: var(--font-weight-semibold) !important;
}

.header-button {
    gap: 25px;
    margin: 0 0 18rem;
}

.image-section {
    padding: 20px;
    position: absolute;
    /* top: 100%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    border-radius: var(--border-redius-3);
}

.image-section img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--border-redius-3);
    border: 0.1px solid #fff;
}

/* second heading section */


.second-heading {
    flex-direction: column;
    margin: 15rem 0 7rem;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.second-heading h2 {
    font-family: var(--font-secondary);
}

.second-para-text {
    max-width: 71ch;
    font-size: var(--step-05);
    font-weight: var(--font-weight-regular);
}

/* card section */
.card-mian-containe {
    justify-content: space-between;
}

.card {
    width: 32%;
    padding: 24px;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #f6f6f7;
    box-shadow: var(--shadow-light);
    align-items: flex-start;
    height: 300px;
}

.first-h1 {
    display: block;
    font-size: var(--step--1);
    font-weight: 400;
    border-radius: 10px;
    background-color: #defffe;
    color: #014847;
    padding: 0.20rem 0.625rem;
    width: fit-content;
}

.second-h2 {
    font-size: var(--step-1);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-semibold);
}

.lear-more {
    font-size: var(--step-0);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    margin-block: 10px;

}

.card:nth-last-child(2) .first-h1 {
    background-color: #edf4ff;
    color: #2036a1;
}

.card:last-child .first-h1 {
    background-color: #fdf5d8;
    color: #603408;
}

.card:last-child .lear-more {
    margin-block: 30px;
}

.card-button {
    text-align: center;
    margin-top: var(--space-2xl);
}

/* brand section */
.brand-section {
    margin-block-start: var(--space-3xl);
    text-align: center;
}

.brand-section h2 {
    font-family: var(--font-secondary);
    font-size: var(--step-4);
    font-weight: var(--font-weight-semibold);
}

.brand-logos {
    margin-block-start: var(--space-m);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px
}

.logo {
    width: 130px;
    height: 79px;
    object-fit: contain;
}